<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="form-container">
                <p class="text-center title-text">ຍິນດີຕ້ອນຮັບ</p>
                <img class=" mx-auto d-block logo" src="https://image.freepik.com/free-psd/engraved-black-logo-mockup_125540-223.jpg" alt="" width="100" height="auto">
                <form autocomplete="off" class="text-center" [formGroup]="loginForm">
                            <mat-form-field appearance="outline">
                                <mat-label>ອີເມວ</mat-label>
                                <input matInput placeholder="ກາລຸນາເພີ່ມ Email" formControlName="email">
                                <mat-icon matSuffix>account_circle</mat-icon>
                            </mat-form-field>
                       
                            <mat-form-field appearance="outline">
                                <mat-label>ລະຫັດຜ່ານ</mat-label>
                                <input type="password" matInput placeholder="Enter your secert password" formControlName="password">
                                <mat-icon matSuffix>vpn_key</mat-icon>
                           </mat-form-field>

                           <button id="loginButton" class="btn btn-success">ເຂົ້າສູ່ລະບົບ</button>
                </form>
                <br>
                <div class="text-center">
                    <p>ຍັງບໍ່ທັນມີບັນຊີຜູ້ໃຊ້? <a href="http://">ລົງບະບຽນ</a></p>
                </div>
            </div>

        </div>
    </div>
</div>